.element {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 22px;
  width: 282px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  justify-self: center;
  position: relative;
}
