.elements {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

@media screen and (max-width: 1265px) {
  .elements{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 984px) {
  .elements{
    grid-template-columns: 1fr;
  }
}
