.popup__close-button {
  margin: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/close-icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  display: flex;
  transition: 0.6s ease;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
