.element__image {
  width: 282px;
  height: 282px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.element__image:hover {
  cursor: pointer;
}
