.form__title {
  color: black;
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

@media  screen and (max-width: 568px) {
  .form__title{
    font-size: 18px;
    margin-bottom: 38px;
  }
}
