.footer {
  max-width: 68.75%;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 568px) {
  .footer {
    max-width: 88.125%;
  }
}
