.profile {
  max-width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;

}

@media screen and (max-width: 984px) {
  .profile{
    flex-direction: column;
    text-align: center;
    gap: 22.25px;
  }
}
