.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__info-burger {
  align-items: center;
  width: 100%;
  padding: 12px 0 0;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  gap: 18px;
}

.header__info-burger::after {
  margin-top: 22px;
  content: '';
  opacity: 0.7;
  width: 100%;
  border-bottom: 1px solid #545454;
}


.header__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.22;
  transition: .6s ease;
}

.header__email {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}

.header__burger-button {
  margin: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  background-image: url('../../images/burger.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: .6s ease;
}

.header__burger-button_opened {
  background-image: url('../../images/burger-opened.svg');
}

.header__burger-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .header__container {
    width: calc(100% - 60px);
  }

  .header__link {
    font-size: 14px;
  }
  .header__info_hiden {
    display: none;
  }

  .header__info-burger_opened {
    display: flex;
  }

  .header__burger-button {
    display: block;
  }
}
