.content {
  max-width: 68.75%;
  margin: 0 auto;
  color: white;
  padding: 40px 0 67px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  min-height: 65vh;
}

@media screen and (max-width: 568px) {
  .content {
    max-width: 88.125%;
    padding: 38.25px 0 48px;
    gap: 36px;
  }
}
