.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url(../../../images/buttons/edit-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  display: flex;
  transition: 0.6s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .profile__edit-button{
    width: 18px;
    height: 18px;
  }
}
